* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  background-color: whitesmoke;
}

.App .navbar {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .logo {
  font-size: 22px;
  font-weight: 700;
}

.App .navbar .menu i {
  font-size: 25px;
  color: green;
  cursor: pointer;
}

.App .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86vh;
}

.App .posts .post {
  width: 800px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
  margin: 10px 0px;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.App .posts .post:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.App .posts .post .index {
  width: 10%;
}

.App .posts .post .title {
  width: 45%;
}

.App .posts .post .author {
  width: 45%;
}

.App .posts .post .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .posts .post .events .update {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.App .posts .post .events .update:hover {
  cursor: pointer;
  background-color: #c48208;
}

.App .posts .post .events .delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.App .posts .post .events .delete:hover {
  cursor: pointer;
  background-color: #cf0303;
}

.App .posts .create_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .posts .create_wrapper form {
  background-color: lightgray;
  width: 350px;
  min-height: 400px;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeInForm 0.4s linear;
          animation: fadeInForm 0.4s linear;
}

@-webkit-keyframes fadeInForm {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeInForm {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.App .posts .create_wrapper form .create_title {
  font-size: 20px;
}

.App .posts .create_wrapper form .create_inputs input {
  width: 100%;
  border: none;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 7px;
  font-size: 17px;
}

.App .posts .create_wrapper form .create_inputs input:focus {
  outline: none;
}

.App .posts .create_wrapper form .create_inputs .error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.App .posts .create_wrapper form .create_inputs button {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.App .posts .create_wrapper form .create_inputs button:hover {
  background-color: #e2e2e2;
}

.App .posts .create_wrapper form .create_inputs .success_message {
  color: green;
}

.App .posts .update_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .posts .update_wrapper form {
  background-color: lightgray;
  width: 350px;
  min-height: 400px;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeInUpdate 0.4s linear;
          animation: fadeInUpdate 0.4s linear;
}

@-webkit-keyframes fadeInUpdate {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeInUpdate {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.App .posts .update_wrapper form .update_title {
  font-size: 20px;
}

.App .posts .update_wrapper form .update_inputs input {
  width: 100%;
  border: none;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 7px;
  font-size: 17px;
}

.App .posts .update_wrapper form .update_inputs input:focus {
  outline: none;
}

.App .posts .update_wrapper form .update_inputs .error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.App .posts .update_wrapper form .update_inputs button {
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.App .posts .update_wrapper form .update_inputs button:hover {
  background-color: #e2e2e2;
}

.App .posts .update_wrapper form .update_inputs .success_message {
  color: green;
}

.App .footer {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */