* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.App {
    text-align: center;
    background-color: whitesmoke;
    .navbar {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        .logo {
            font-size: 22px;
        }
        .menu {
            i {
                font-size: 25px;
                cursor: pointer;
            }
        }
    }
    .posts {
        padding: 0px 50px;
        .post {
            background-color: rgb(151, 99, 201);
            margin: 10px 0px;
            padding: 20px;
            border-radius: 15px;
            display: flex;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.4s ease;
            color: white;
            &:hover {
                transform: scale(1.03);
            }
            .index {
                width: 10%;
               
            }
            .title {
                width: 45%;
                
            }
            .author {
                width: 45%;
                
            }
        }
        .create_wrapper {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7px);
            display: flex;
            justify-content: center;
            align-items: center;
            form {
                background-color: lightgray;
                width: 350px;
                min-height: 400px;
                border-radius: 15px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                animation: fadeInForm 0.4s linear;
                @keyframes fadeInForm {
                  0% {
                    transform: translateY(3rem);
                    opacity: 0;
                  }
                }
                .create_title {
                    font-size: 20px;
                }
                .create_inputs {
                    input {
                        width: 100%;
                        border: none;
                        margin: 5px 0px;
                        padding: 10px;
                        border-radius: 7px;
                        font-size: 17px;
                        &:focus {
                            outline: none;
                        }
                    }
                    .error {
                        color: red;
                        font-size: 12px;
                        text-align: left;
                    }
                    button {
                        width: 100%;
                        border: none;
                        margin-top: 10px;
                        padding: 10px;
                        border-radius: 7px;
                        font-size: 18px;
                        cursor: pointer;
                        &:hover {
                            background-color: rgb(226, 226, 226);
                        }
                    }
                    .success_message {
                        color: green;
                        
                    }
                }
            }
        }
    }
}